VITE_SUPABASE_URL=https://wncupbiwgxssokwemcqe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InduY3VwYml3Z3hzc29rd2VtY3FlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwMDQ5MzcsImV4cCI6MjEwNTU4MDkzN30.6l1J3QYIkefo4cX_X1y9JAWz-vvP7huT5WInEhxPCww